h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 94px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #334B6F;
    margin-bottom: 5%;
}

h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    /* align-items: center; */
    float: inline-start;
    text-align: center;
    padding: 10, 0, 30, 0;
}

/* heading: MoodyFoody */
h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 94px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 3%;
    margin:0;
    padding: 0;
    color: #334B6F;

}

#favorites {
  padding: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  color: #334B6F;
}

img {
  width: 50px;
  height: 50px;
}

#favoritesButton {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 5px;
}

#resultsButton {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 5px;
}

h6{
    color: #334B6F;
}
.row {
    margin: 0;
}

h1,h2,h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    /* margin:auto; */
    /* align-items: center; */
    text-align: center;
    float: inline-start;
}

.col {
    margin-left: auto ;
    margin-right: auto ;
}

#rating{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 47px;
    display: flex;
    text-align: center;
    color: #3F3F3F;
}

#map {
    height: 500px;
    width:600px;
    border: 4px solid #334B6F;
    box-sizing: border-box;
    border-radius: 24px;
    margin: 1%;
}

.main-container {
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: flex-start;
    justify-content: space-evenly;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    /* border-radius: 24px; */
}

#results-container {
    flex-direction: column;
    align-items: left;
    box-sizing: border-box;
    /* border-radius: 24px; */
    width: 50%;
    overflow: auto;
    /* height: 300px; */
    padding: 0, 5, 0 ,5;
    height: 540px;
}

.result-box {
    border: 4px solid #334B6F;
    /* box-sizing: border-box; */
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
    background: #FFDF8D;
    align-items: center;
    /* display: flex; */
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items:flex-end
}

label {
    /* Presentation */
    font-size: 48px
  }
  
  /* Required Styling */
  
  label input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox {
    margin-left: 2em;
    position: relative;
    cursor: pointer;
  }
  
  .custom-checkbox .glyphicon {
    color: red;
    position: absolute;
    top: 0.4em;
    left: -1.25em;
    font-size: 0.75em;
  }
  
  .custom-checkbox .glyphicon-heart-empty {
    color: gray;
  }
  
  .custom-checkbox .glyphicon-heart {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .custom-checkbox:hover .glyphicon-heart{
    opacity: 0.5;
  }
  
  .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-heart {
    opacity: 1;
  }

#saveButton {
    margin:auto;
    color: #D84929;

}

.card {
    box-shadow: none;
    margin: 3%;
    height: 110px;
}

.flex-column {
  display:flex;
  flex-direction: column;
}

#star-rating {
  max-width: 102px;
  max-height: 18px;
}

#yelp-logo {
  max-height: 39px;
  max-width:80px;
}