    /* heading: MoodyFoody */
    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 90px;
        line-height: 94px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
    
        color: #334B6F;
        margin-bottom: 3%;
    }

    #title {
        height: 10vw;
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
    }

    body {
        padding: 2vh 0
    }

    /* form heading */
    h3 {
    
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
    
        color: #334B6F;
    }

    /* form subheading */
    h5{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        align-items: center;
        text-align: center;
    
        color: #D84929;
    }

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        /* display: flex; */
        /* align-items: center; */
        /* text-align: center; */
        text-transform: uppercase;
    
        color: #334B6F;
    }
    
    /* form for resturant search */
    form {
        background: #FFDF8D;
        border: 3px solid #334B6F;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 5%;
        margin: 1vh auto
    }
    
    /* form controls: */
    /* location: */
    #location {
        background: #FFF1CD;
        border: 3px solid #334B6F;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 3%;
        
    }

    #locationInput {
        text-align: center;
    }
    
    /* add in active click and hover features */
    ::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        /* display: flex; */
        /* align-items: center; */
        text-align: center;
        text-transform: uppercase;
    
        color: #334B6F;
    }

    ::placeholder:focus {
        display: none!important;
    }

    /* remove predetermined style from Materalize */
    input {
        border-bottom: none!important;
        box-shadow: none!important;
    }

    /* Price Range */
    #priceRange {
        background: #FFF1CD;
        border: 3px solid #334B6F;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 3%;
    }

    /* Distance Range */
    #distance {
        background: #FFF1CD;
        border: 3px solid #334B6F;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 3%;
    }

    /* Range: style */
    input [type=range] {
        -webkit-appearance: none;
        outline: 0;
        margin: 0;
        padding: 0;
        height: 40px;
        width: 100%;
    }

    input[type=range]::-webkit-slider-thumb {
        background-color: #334B6F;
        margin-top: 0.1px;
        width:15px;
        height: 15px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        background-color: #ffe299;
        border-radius: 50px;
        height: 100%;
        border: solid 3px #334B6F;

    }

    /* Food Genre */
    #foodGenre {
        background: #FFF1CD;
        border: 3px solid #334B6F;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 3%;

    }
 
    #foodTypeInput {
        text-align: center;
    }
    
    /* Resturant Type */
    #resturantType {
        background: #FFF1CD;
        border: 3px solid #334B6F;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
        padding: 3%;
        margin: 3%;
    }
 
    /* time input: */
    #timeInput {
        background: #FFF1CD;
        border: 3px solid #334B6F;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
        padding: 3%;
        margin: 3%;
    }

    .select{
        -webkit-appearance: none;
        background: #FFF1CD;
        border: 3px solid #334B6F;
        border-radius: 10px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 47px;
        align-items: center;
        text-align: center;
    }

    select:active{
        appearance: none;
        color: #FFF1CD;
        border: 3px solid #334B6F;
        border-radius: 10px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 47px;
        align-items: center;
        text-align: center;
    }

    option:active {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 47px;
        align-items: center;
        text-align: center;
    }

    
    #submitBtn {
        background: #334B6F;
        box-sizing: border-box;
        border-radius: 6px;
        /* width: 180px; */
        height: 60px;
        width: 40%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 47px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFF1CD;
    }

    #submitBtn:hover {
        background: #FFF1CD;
        color: #334B6F;
    }

    input:hover {
        background: #d4d4d4;
    }

@media screen and (max-width: 700px) {
    h1 {
        font-size: 12vw;
    }
    #title {
        height: 15vw;
    }
}

@media screen and (max-width: 400px) {
    #submitBtn {
        font-size: 5vw;
    }

}

@media screen and (max-width: 372px) {
    h3 {
        font-size: 13.5vw;
        line-height: 13vw;
    }
    h5 {
        font-size: 7vw;
        line-height: 10vw;
    }
}

@media screen and (max-width: 232px) {
    p {
        font-size: 10vw;
    }
    input {
        font-size: 10vw;
    }
    ::placeholder {
        font-size: 10vw;
    }
    #submitBtn {
        width: 50vw;
    }
}